{{ partial "header.html" . }}
  {{ range (.Paginator 20).Pages }}
    {{ if eq .Type "post" }}
      <h4 class="center"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    {{ end }}
  {{ end }}
  <div class="footer">
      <ul class="center pagination">
	{{ if .Paginator.HasPrev }}
	<li class="disabled"><a href="{{ .Paginator.Prev.URL }}"><i class="material-icons">chevron_left</i></a></li>
	{{ end }}
	{{ if .Paginator.HasNext }}
	<li class="waves-effect"><a href="{{ .Paginator.Next.URL }}"><i class="material-icons">chevron_right</i></a></li>
	{{ end }}
      </ul>
  </div>

{{ partial "footer.html" . }}
