{{ partial "header.html" . }}

<br><br>
{{ range (.Paginator 20).Pages }}
  {{ if eq .Type "post" }}
    <div class="container">
      <h3 class="center"><a href="{{ .Permalink }}" class="black-text">{{ .Title }}</a></h3><br>
      <h6 class="center grey-text text-lighten-1">{{ .Date.Format "Monday, January 2, 2006" }}</h6><br><br>
      <div class="container">
          <div class="center card-image">
          {{ if isset .Params "thumbnail" }}
            <img src="{{ .Params.thumbnail }}">
          {{ end }}
          </div>
          <div class="card-content" style="font-size: 18px; text-align: justify;">
            <p>{{ .Summary }}</p>
          </div>
          {{ if .Truncated }}
          <div class="center container">
            <a href="{{ .Permalink }}" class="grey-text">Read more</a>
          </div>
          {{ end }}
      </div>
    </div>
    <br><br><br><br>
  {{ end }}
{{ end }}

<div class="footer">
    <ul class="center pagination">
      {{ if .Paginator.HasPrev }}
      <li class="disabled"><a href="{{ .Paginator.Prev.URL }}"><i class="material-icons">chevron_left</i></a></li>
      {{ end }}
      {{ if .Paginator.HasNext }}
      <li class="waves-effect"><a href="{{ .Paginator.Next.URL }}"><i class="material-icons">chevron_right</i></a></li>
      {{ end }}
    </ul>
</div>

{{ partial "footer.html" . }}
